#===----------------------------------------------------------------------===#
#   Copyright (c) NeXTHub Corporation. All Rights Reserved.
#   DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
#
#   Author: Tunjay Akbarli
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at:
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
#   Please contact NeXTHub Corporation, 651 N Broad St, Suite 201,
#   Middletown, DE 19709, New Castle County, USA.
#===----------------------------------------------------------------------===#

[MAIN]
ignore=.git
py-version=3.8
recursive=yes

[MESSAGES CONTROL]
# C0114: Missing module docstring (missing-module-docstring)
# C0115: Missing class docstring (missing-class-docstring)
# C0116: Missing function or method docstring (missing-function-docstring)
# R0801: Similar lines in ... files ... (duplicate-code)
# R0902: Too many instance attributes (too-many-instance-attributes)
# R0903: Too few public methods (too-few-public-methods)
# R0913: Too many arguments (too-many-arguments)
# R0914: Too many local variables (too-many-locals)
# W1202: Use % formatting in logging functions and pass the % parameters as arguments (logging-format-interpolation)
# R0917: Too many positional arguments,
# W0719: Raising too general exception,
# C0325: superfluous-parens
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-many-instance-attributes,
        too-many-arguments,
        logging-format-interpolation,
        logging-fstring-interpolation,
        too-few-public-methods,
        duplicate-code,
        too-many-positional-arguments,
        broad-exception-raised,
        superfluous-parens,
        use-yield-from

[FORMAT]
max-line-length=120
