/*
 * Copyright (c) NeXTHub Corporation. All Rights Reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * Author: Tunjay Akbarli
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Please contact NeXTHub Corporation, 651 N Broad St, Suite 201,
 * Middletown, DE 19709, New Castle County, USA.
 */

{%- for parameter in default_arg_sets -%}

{%- set arg_sets = [] %}
{%- set return_types = [] %}
{%- for arg in return_only_arg_sets %}
{%- set _ = return_types.append(arg) %}
{%- endfor %}
{%- for arg in default_arg_sets %}
{%- set _ = arg_sets.append(arg) %}
{%- set _ = return_types.append(arg) %}
{%- endfor %}

{%- set full_signatures = [] %}
{%- for return_type in return_types %}
{%- set _ = full_signatures.append([return_type, parameter]) %}
{%- endfor %}

export enum ID {
    BASE_CLASS,
    DERIVED_CLASS
}

export class GenericBaseClass<A> {
    public a: A

    constructor(a: A) {
        this.a = a
    }
}

export class EmptyClass {}

export class BaseClass {
    public constructor() {}

    {%- for signature in full_signatures %}
    {% for access in access_type %}
    {{.access}} {{.access}}_{{.signature[1].prefix}}To_{{.signature[0].prefix}}(a: {{.signature[1].class_name}}): {{.signature[0].class_name}} {
        return {{.signature[0].default_value}}
    }

    {%- endfor -%}
    {%- endfor -%}
}

export class DerivedClass extends BaseClass {}

{% for signature in full_signatures %}
{%- for cls in ['BaseClass', 'DerivedClass'] %}
{%- for access in find_access_type %}
function find_{{.access}}_in_{{.cls}}_without_signature__{{.signature[1].prefix}}To_{{.signature[0].prefix}}() {
    let cls = Class.from<{{.cls}}>()
    {%- if access == 'public' and cls == 'BaseClass' %}
    arktest.assertNE(cls.getInstanceMethod("{{.access}}_{{.signature[1].prefix}}To_{{.signature[0].prefix}}"), undefined)
    {%- else %}
    arktest.assertEQ(cls.getInstanceMethod("{{.access}}_{{.signature[1].prefix}}To_{{.signature[0].prefix}}"), undefined)
    {%- endif %}
}

function find_{{.access}}_in_{{.cls}}_with_signature__{{.signature[1].prefix}}To_{{.signature[0].prefix}}() {
    let cls = Class.from<{{.cls}}>()
    let signatureCls = {{.signature[1].class_object}}
    {%- if access == 'public' and cls == 'BaseClass'  %}
    arktest.assertNE(cls.getInstanceMethod("{{.access}}_{{.signature[1].prefix}}To_{{.signature[0].prefix}}", [signatureCls]), undefined)
    {%- else %}
    arktest.assertEQ(cls.getInstanceMethod("{{.access}}_{{.signature[1].prefix}}To_{{.signature[0].prefix}}", [signatureCls]), undefined)
    {%- endif %}
}
{% endfor %}
{%- endfor %}
{%- endfor %}

function main(): int {
    let ts = new arktest.ArkTestsuite("Class.getInstanceMethod test")
{%- for signature in full_signatures %}
{%- for access in find_access_type %}
{%- for signature_status in ['with', 'without'] %}
{%- for cls in ['BaseClass', 'DerivedClass'] %}
    ts.addTest("find_{{.access}}_in_{{.cls}}_{{.signature_status}}_signature__{{.signature[1].prefix}}To_{{.signature[0].prefix}}", find_{{.access}}_in_{{.cls}}_{{.signature_status}}_signature__{{.signature[1].prefix}}To_{{.signature[0].prefix}})
{%- endfor %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
    return ts.run()
}

{{.sep}}
{%- endfor -%}
