# Copyright (c) 2024-2025 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

env: production
server:
  cors_allow_origins: ["*"]
  cors_allow_methods: ["*"]
  cors_allow_headers: ["*"]
  cors_allow_credentials: true
  cors: true
  uvicorn_config:
    host: "0.0.0.0"
    port: 8000
binary:
  build: "../../../../build/returntype"
  icu_data: "../../../../build/static_core/third_party/icu/ohos_icu4j/data/icudt72l.dat"
options:
  - flag: "--opt-level"
    values: [ 0,1,2 ]
    default: 2
syntax:
  keywords:
    - abstract
    - alignof
    - as
    - assert
    - async
    - await
    - break
    - case
    - catch
    - class
    - const
    - constructor
    - continue
    - declare
    - default
    - do
    - else
    - enum
    - export
    - extends
    - "false"
    - final
    - finally
    - for
    - from
    - function
    - get
    - global
    - if
    - implements
    - import
    - in
    - instanceof
    - interface
    - internal
    - intrinsic
    - is
    - keyof
    - let
    - namespace
    - native
    - new
    - "null"
    - of
    - out
    - overload
    - override
    - package
    - private
    - protected
    - public
    - readonly
    - require
    - return
    - set
    - static
    - struct
    - super
    - switch
    - this
    - throw
    - "true"
    - try
    - type
    - typeof
    - undefined
    - unreachable
    - var
    - while
    - yield

  typeKeywords:
    - Any
    - Array
    - BigInt
    - Boolean
    - Byte
    - Char
    - Double
    - Float
    - Int
    - Long
    - Number
    - NonNullable
    - Object
    - Short
    - String
    - anyref
    - bigint
    - boolean
    - byte
    - char
    - double
    - f32
    - f64
    - float
    - funcref
    - i8
    - i16
    - i32
    - i64
    - isize
    - int
    - long
    - number
    - object
    - short
    - string
    - u8
    - u16
    - u32
    - u64
    - usize
    - v128
    - void

  builtins:
    - Intl
    - console
    - Date
    - Error
    - Map
    - Set
    - Math

  tokenizer:
    root:
      - - "/[a-zA-Z_$][\\w$]*/"
        - cases:
            "@keywords": keyword
            "@typeKeywords": type
            "@builtins": type
            "@default": identifier
      - - "/[{}[\\]()]/"
        - "@brackets"
      - - "/\\b(NaN|Infinity)\\b/"
        - number
      - - "/0[xX][0-9a-fA-F]+n?|0[bB][01]+n?|0[oO][0-7]+n?|\\d+(?:_\\d+)*(?:\\.\\d+(?:_\\d+)*)?(?:[eE][+-]?\\d+)?n?/"
        - number
      - - "/`(?:[^`\\\\]|\\\\.)*`/"
        - string
      - - "/'(?:[^'\\\\]|\\\\.)*'/"
        - string
      - - "/\".*?\"/"
        - string
      - - "/[;,.]/"
        - delimiter
      - - "/\/\/.*$/"
        - comment
      - - "/\\/\\*[\\s\\S]*?\\*\\//"
        - comment
