/**
 * Copyright (c) 2025-2026 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

{% set cases = [
    {
        'enum_name': 'Color', 
        'enum_definition': '{ Red, Green, Blue }', 
        'test_value': 'Color.Red'
    },
    {
        'enum_name': 'Letter',
        'enum_definition': ':int { A = 1, B = 2, C = 3 }',
        'test_value': 'Letter.A'
    }
] %}

 {% from "16.concurrency/02.asynchronous_api/async_api_helper.jinja" import generate_async, call_async %}

 {% macro generate_complete_test(declaration_type='function') %}
 {% for c in cases %}

 /*---
 desc: The return type of an async {{declaration_type}} must be Promise<{{c.enum_name}}>.
 ---*/

enum {{c.enum_name}}{{c.enum_definition}}

{%- set params = {
    'name': 'noParams',
    'body': 'return ' + c.test_value,
    'return_type': ': Promise<' + c.enum_name + '>',
    'class_name': 'AsyncMethodReturnClass'
} %}

{{ generate_async(declaration_type, params) }}

async function startTest(){
    let result = {{ call_async(declaration_type, params) }}
    arktest.assertTrue(result instanceof Promise)
    let awaited_result = await result
    arktest.assertTrue(awaited_result instanceof {{c.enum_name}})
    arktest.assertEQ(awaited_result, {{c.test_value}})
}

function main(){
    waitForCompletion(startTest)
}

 {% endfor %}
 {% endmacro %}