/*
 * Copyright (c) 2025-2026 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

{% from "16.concurrency/02.asynchronous_api/async_api_helper.jinja" import generate_async, call_async %}

{% set cases = [
    {
        'tuple_types': ['number', 'string'],
        'tuple_values': [42, '"Hello"'],        
    },
    {
        'tuple_types': ['string', 'boolean', 'number'],
        'tuple_values': ['"Test"', 'true', 100],        
    }
]%}

{% macro generate_complete_test(declaration_type='function') %}
{% for c in cases %}

{% set type = '[' + c.tuple_types | join(', ') + ']' %}

/*---
desc: The return type of an async {{declaration_type}} must be Promise<{{type}}>.
---*/

{% set async_body -%}
    const value: {{ type }} = [{{ c.tuple_values | join(', ') }}]
    return value
{%- endset %}

{%- set params = {
    'name': 'noParams',
    'body': async_body,
    'return_type': ': Promise<' + type + '>',
    'class_name': 'AsyncMethodReturnClass'
} -%}

{{ generate_async(declaration_type, params) }}

async function startTest(){
    let result = {{ call_async(declaration_type, params) }}
    arktest.assertTrue(result instanceof Promise)
    let awaited_result = await result    
    {% for type in c.tuple_types -%}
    arktest.assertTrue(awaited_result[{{loop.index0}}] instanceof {{c.tuple_types[loop.index0]}})
    arktest.assertEQ(awaited_result[{{loop.index0}}], {{c.tuple_values[loop.index0]}})
    {% endfor %}
}

function main(){
    waitForCompletion(startTest)
}

{% endfor %}
{% endmacro %}
