/**
 * Copyright (c) 2025-2026 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

{% macro generate_complete_test(cases) %}
{% for c in cases %}
{% for type_name in [c.type, c.alias] | select %}

/*---
desc: Test to wait Promise.all for Promises<{{type_name}}>.
---*/

const value: {{type_name}} = {{c.value}}
const length = 3;

async function promise1(): Promise<{{type_name}}> {
    return value;
}

async function promise2(): Promise<{{type_name}}> {
    return value;
}

async function promise3(): Promise<{{type_name}}> {
    return value;
}

async function fetchMultipleData() {
    return await Promise.all([promise1(),promise2(),promise3()]);
}

async function startTest() {
    const result = await fetchMultipleData();
    arktest.assertTrue(result instanceof Array, "Result type must be Array");
    arktest.assertEQ(result.length, length, `Array of Promises length must be ${length}`);
}

function main() {
    waitForCompletion(startTest);
}
{% endfor %}
{% endfor %}
{% endmacro %}