/**
 * Copyright (c) 2025-2026 Huawei Device Co., Ltd.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include "plugins/ets/tests/ani/ani_gtest/verify_ani_gtest.h"

namespace ark::ets::ani::verify::testing {

// NOLINTNEXTLINE(cppcoreguidelines-pro-type-member-init)
class StringGetUtf8SizeTest : public VerifyAniTest {
public:
    void SetUp() override
    {
        VerifyAniTest::SetUp();
        {% if format == "UTF8" %}
            auto status = env_->String_NewUTF8("aaa", 3U, &string_);
        {% else %}
            uint16_t str[3] = {0U};  // NOLINT(modernize-avoid-c-arrays)
            auto status = env_->String_NewUTF16(str, 3U, &string_);
        {% endif %}

        ASSERT_EQ(status, ANI_OK);
        ASSERT_EQ(env_->GetUndefined(&undef_), ANI_OK);
        ASSERT_EQ(env_->GetNull(&null_), ANI_OK);

        ani_class cls {};
        ani_method ctor {};
        ASSERT_EQ(env_->FindClass("std.core.Object", &cls), ANI_OK);
        ASSERT_EQ(env_->Class_FindMethod(cls, "<ctor>", ":", &ctor), ANI_OK);
        // NOLINTNEXTLINE(cppcoreguidelines-pro-type-vararg)
        ASSERT_EQ(env_->Object_New(cls, ctor, &obj_), ANI_OK);

        ASSERT_EQ(env_->FindClass("escompat.Error", &cls_), ANI_OK);
        ASSERT_EQ(env_->Class_FindMethod(cls_, "<ctor>", ":", &ctor), ANI_OK);
        // NOLINTNEXTLINE(cppcoreguidelines-pro-type-vararg)
        ASSERT_EQ(env_->Object_New(cls_, ctor, &err_), ANI_OK);
    }

protected:
    ani_string string_;  // NOLINT(misc-non-private-member-variables-in-classes)
    ani_size size_;      // NOLINT(misc-non-private-member-variables-in-classes)
    ani_object obj_ {};  // NOLINT(misc-non-private-member-variables-in-classes)
    ani_ref undef_ {};   // NOLINT(misc-non-private-member-variables-in-classes)
    ani_object err_ {};  // NOLINT(misc-non-private-member-variables-in-classes)
    ani_ref null_ {};    // NOLINT(misc-non-private-member-variables-in-classes)
    ani_class cls_ {};   // NOLINT(misc-non-private-member-variables-in-classes)
};

TEST_F(StringGetUtf8SizeTest, wrong_env)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(nullptr, string_, &size_), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "called from incorrect the native scope"},
        {"string", "ani_string"},
        {"result", "ani_size *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, wrong_input_string)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, nullptr, &size_), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"string", "ani_string", "wrong reference"},
        {"result", "ani_size *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, null_input_string)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, static_cast<ani_string>(null_), &size_), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"string", "ani_string", "wrong reference type: null"},
        {"result", "ani_size *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, undef_input_string)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, static_cast<ani_string>(undef_), &size_), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"string", "ani_string", "wrong reference type: undefined"},
        {"result", "ani_size *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, err_input_string)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, static_cast<ani_string>(err_), &size_), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"string", "ani_string", "wrong reference type: ani_error"},
        {"result", "ani_size *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, obj_input_string)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, static_cast<ani_string>(obj_), &size_), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"string", "ani_string", "wrong reference type: ani_object"},
        {"result", "ani_size *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, cls_input_string)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, reinterpret_cast<ani_string>(cls_), &size_), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *"},
        {"string", "ani_string", "wrong reference type: ani_class"},
        {"result", "ani_size *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, wrong_res)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, string_, nullptr), ANI_ERROR);
    std::vector<TestLineInfo> testLines {

        {"env", "ani_env *"},
        {"string", "ani_string"},
        {"result", "ani_size *", "wrong pointer for storing 'ani_size'"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, wrong_all_args)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(nullptr, nullptr, nullptr), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "called from incorrect the native scope"},
        {"string", "ani_string", "wrong reference"},
        {"result", "ani_size *", "wrong pointer for storing 'ani_size'"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);
}

TEST_F(StringGetUtf8SizeTest, throw_error)
{
    ThrowError();
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, string_, &size_), ANI_ERROR);
    std::vector<TestLineInfo> testLines {
        {"env", "ani_env *", "has unhandled an error"},
        {"string", "ani_string"},
        {"result", "ani_size *"},
    };
    ASSERT_ERROR_ANI_ARGS_MSG("String_Get{{ format }}Size", testLines);

    ASSERT_EQ(env_->ResetError(), ANI_OK);
}

TEST_F(StringGetUtf8SizeTest, success)
{
    ASSERT_EQ(env_->c_api->String_Get{{ format }}Size(env_, string_, &size_), ANI_OK);
}

}  // namespace ark::ets::ani::verify::testing
